<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
    <link href="/CSS/styless.css" rel="stylesheet">


</head>
<body>
<div th:replace="~{fragments/main-menu}"></div>
<h1>Category List</h1>
<ul>
    <li th:each="category : ${data}">
        <!--        <h2 th:text="${category.getName()}"></h2>-->
        <a th:href="'/categoryDetails?categoryId='+${category.getId()}" th:text="${category.getName()}"></a>
        <a th:href="'/removeCategory?categoryId='+${category.getId()}">❌</a>


    </li>
</ul>
<div th:replace="~{fragments/save-Category}"></div>

</body>
</html>