<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <title th:text="${title}">Title</title>
    <link rel="stylesheet" href="/CSS/styless.css">


</head>
<body>
<div th:replace="~{fragments/main-menu}"></div>
<h1>Category List</h1>
<ul>
    <li th:each="category : ${data}">
        <h2 th:text="${category.getName()}"></h2>
        <p>
            <a th:href="'/categoryDetails?categoryId='+${category.getId()}" >Szczegóły kategorii produktów</a>        </p>

        <p>
            <a th:href="'/removeCategory?categoryId='+${category.getId()}">Usuń kategorię ❌</a>
        </p>

    </li>
</ul>
<div th:replace="~{fragments/save-Category}"></div>

</body>
</html>